.header
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    max-width: $max-width
    padding: 45px 100px 50px
    margin: auto
    &__img
        height: 68px
    &__nav
        &--ul
            list-style: none
            display: flex
            flex-direction: row
            gap: 50px
            font-family: "Montserrat", sans-serif
            font-weight: 500
            font-size: 24px
            & li
                cursor: pointer
                user-select: none
                &::after
                    display: block
                    height: 1px
                    width: 0px
                    content: ""
                    background-color: #ff6060
                    transition: width 0.3s, background-color 0.3s
                &:hover::after
                    height: 1px
                    width: 100%
                    content: ""
            & .menu-select::after
                display: block
                height: 1px
                width: 100%
                content: ""
                background-color: black